<!doctype html>
<html>
  <head>
    <title><%= shopName %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body style="background-image: url('<%= bg %>'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <!-- Conbini bar -->
    <div class="conbini-bar"></div>

    <!-- Navigation bar -->
    <header class="main-container">
      <nav class="nav">
        <a href="/" class="logo"><%= shopName %></a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/survey" class="survey-link">Survey</a></li>
        </ul>
      </nav>
    </header>

    <!-- Page content -->
    <div class="container">

      <h1>About <%= shopName %> Shop</h1>
      <p>We sell all sorts of drinks!</p>

      <h2>Our Locations</h2>

      <ul class="shop-list">
        <% for (let i = 0; i < shops.length; i++) { %>
          <li>
            <strong><%= shops[i].name %></strong><br>
            Manager: <%= shops[i].manager %><br>
            Address: <%= shops[i].address %>
          </li>
        <% } %>
      </ul>


    </div>

  </body>
</html>


